.dg__option {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;

  .option__content {
    width: 82px;
    height: 100%;
    align-items: center;

    .options__image {
      width: 100%;
      height: 60%;
      padding: 8px 0;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
      }
    }
    .options__txt {
      width: 100%;
      height: 40%;

      span{
        display: block;
        font-size: 11px;
        font-weight: 700;
        line-height: 24px;
        margin: 4px 0 0;
        padding: 0 16px;
        direction: rtl;
        text-align: center;
      }
    }

    svg{
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: whitesmoke;
        fill: #a1a3a8;
    }
  }
}
